* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #0a0a0a;
    overflow-x: hidden;
}

@font-face {
    font-family:'terror' ;
    src: url('terror/Nightcore\ Demo.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
#abismo {
    font-family: 'terror';
    font-size: 40px;
}

a {
    color: #1a0000;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {

display: flex;
justify-content: space-around;
align-items: center;
font-family: system-ui, -apple-system, 
Helvetica, sans-serif;
background: linen;
height: 8vh;

}

main {
    background-color: #23232e;
    /*background: url('imagens/fundo3.jpg') no-repeat center center;
    background-size: cover;
    height: 92vh;*/
    
}

.nav-list {
    list-style: none;
    display: flex;
}
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #160000;
    margin: 8px;
    transition: 0.3s;
}
/*************************************Midia ajuda**********************************/

@media (max-width: 780px) {

    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: linen;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 1;
    }
    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .mobile-menu.active .line1 {
        transform:rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2 {
        opacity: 0;
    }
    .mobile-menu.active .line3 {
        transform:rotate(+45deg) translate(-5px, -7px);
    }



    @keyframes navlinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        } to{
            opacity: 1;
            transform: translateX(0);
        }
    }



}


/*********Outro Css**************/


@font-face {
    font-family: 'dragon';
    src: url('dragon/DRAGON\ HUNTER.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family:'terror' ;
    src: url('terror/Nightcore\ Demo.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titulo';
    src: url('terror/fontes/titulo.ttf')format('opentype');
    font-weight: normal;
    font-style: normal;
}

#ABISS {
    font-family: 'dragon';
    color: rgb(53, 1, 1);
    
}





#drop:hover .menu {
    display: block;
}




img {
    width: 100%;
    border-radius: 10px;
    padding-bottom: 5px;
}
/*

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 245, 230, 0.9);
    border-radius: 5px;
    margin-bottom: 20px;

    .menusmarth {
        display: none;
    }
}



nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
a {
    color: rgb(71, 3, 3);
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}
a:hover {
    color: linen;
    background: rgb(71, 3, 3);
    transition: 0.3s;
}*/

.section {
    
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 2px;
    /*background-color: rgba(90, 2, 2, 0.9);*/
    border-radius: 10px;
    text-align: center;
}


.section1 {
   
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(90, 2, 2, 0.9);
    border-radius: 10px;
    text-align: center;
}

#resumo {
    font-size: 15px;
    text-align: justify;
   
    margin-left: 1px;
    color: rgb(255, 255, 255);
}

#principal{
    margin: 10px auto;
   /*border: 1px solid red;*/

    background-image: url('imagens/lua.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
   /* border: 1px solid blue;
    background-color: rgb(0, 4, 26);*/
}





.container1 {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}




.container {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 1px;
}

.container2 {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    
}





.box {
    
    flex: 1;
    min-width: 280px;
    max-width: 400px;
    padding: 5px;
    background-color: rgb(71, 3, 3);
    border-radius: 10px;
    font-family: 'titulo';
    text-align: justify;
}

p {
    font-family: 'titulo';
    font-size: 16px;
    text-align: justify;
    color: #fff;
}

.box1 {
    
    flex: 1;
    min-width: 280px;
    max-width: 400px;
    padding: 20px;
    background-color: rgb(71, 3, 3);
    border-radius: 10px;
    font-family: 'titulo';
    text-align: justify;
   
}



.title1  {
    margin-left: 7px;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: justify;
    font-family: 'titulo';
    width: 65%;
    color: #fff;
    
}
.title2  {
    
    font-size: 30px;
    margin-bottom: 10px;
    text-align: justify;
    font-family: 'titulo';
    width: 80%;
    color: #fff;
}
.title {
    
    font-size: 40px;
    margin-bottom: 10px;
    text-align: justify;
    font-family: 'titulo';
    width: 70%;
    color: #fff;
}
h4 {
    color: #fff;
    font-size: 25px;
}

/********************************Minha***Midia*********************************************/

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    h1, h2 {
        font-size: 35px;
    }
    h4 {
        color: #fff;
        font-size: 25px;
        text-align: center;
    }
    p {
        color: #fff;
        text-align: center;
    }

    img {
        width: 100%;
        border-radius: 10px;
        padding-bottom: 1px;
    }
    #abismo {
        font-family: 'terror';
        font-size: 25px;
    }

    .section {
    
        width: 80%;
        max-width: 500px;
        margin: 2px auto;
        padding: 2px;
        /*background-color: rgba(90, 2, 2, 0.9);*/
        border-radius: 10px;
        text-align: center;
    }

.title1  {
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 95%;
    text-align: center;
}
.title2  
    
    {
        margin: auto;
        flex-direction: column;
        align-items: center;
        width: 90%;
        text-align: center;
        
    }
.title {
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    


    .section {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .box {
    
        flex: 1;
        min-width: 280px;
        max-width: 400px;
        padding: 5px;
        background-color: rgb(71, 3, 3);
        border-radius: 10px;
        font-family: 'titulo';
        text-align: justify;
        width: 100%;
    }


    body {
        overflow-x: hidden;
    }

    

}
