*{
    margin: 0;
    padding: 0;
}


@media (max-width: 600px) {
    
    /*h1, h2, h4  {
        .title1,.ABISS {
            display: none;
        }
        font-size: 20px;
        text-align: center;
        width: auto;
        border: 1px solid yellow;
    }*/


    header{ .menuDesktop {
    display: none;
    }
    .menusmarth {
        display: block;
        width: 20px;
        
        
    
    }


    }

    
    
     


}
